.recommended {
    flex-basis: 30%;
    overflow-x: auto;
    overflow-y: hidden;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img {
    flex-basis: 49%;
    width: 50%;
    border-radius: 5px;
}

.vid-info {
    flex-basis: 49%;
}

.vid-info h4 {
    font-size: 14px;
    margin-bottom: 4px;
}

.vid-info p {
    font-size: 13px;
    color: #4b4b4b;
}

* {
    overflow-x: hidden;
}

@media (max-width:900px) {
    .recommended {
        flex-basis: 100%;
        margin-left: 20px;
    }
}

@media (max-width:576px) {
    .side-video-list img {
        flex-basis: 49%;
        width: 40%;
        border-radius: 5px;
    }

    .vid-info h4 {
        font-size: 13px;
        margin-bottom: 4px;
    }

    .vid-info p {
        font-size: 12px;
       
    }
}
@media (max-width: 480px){
    .recommended{
        display: none;
    }
}