.feed{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.card img{
    width: 100%;
    border-radius: 5px;
}
.card h2{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 5px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.card h3{
    font-size: 14px;
    font-weight: 700;
    color: #242424f0;
    margin: 6px 0;
}
.card p{
    font-size: 14px;
    font-weight: 500;
    color: #606060;
}